nextflow.enable.dsl = 2

params.samples = null
params.outdir  = "results"

process {

    cpus = 4
    memory = '8 GB'
    time = '2h'

    // FORCE container usage globally
    container = null

    withName: 'QC' {
        container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
    }

    withName: 'ASSEMBLY' {
        container = 'quay.io/biocontainers/shovill:1.1.0--hdfd78af_1'
    }

    withName: 'CHECKM' {
        container = 'quay.io/biocontainers/checkm2:1.0.1--pyhdfd78af_0'
    }

    withName: 'BAKTA' {
        container = 'quay.io/biocontainers/bakta:1.9.3--pyhdfd78af_0'
    }
}
