params {
  reads      = null
  outdir     = "results"
  bakta_db   = null
  checkm2_db = null
}

//
// DEFAULT PROCESS SETTINGS
//
process {

  cpus = 4
  memory = '8 GB'

  // -------------------------
  // QC: FASTP
  // -------------------------
  withName:FASTP {
    container = 'quay.io/biocontainers/fastp:0.24.0--h125f33a_0'
    cpus = 8
    memory = '16 GB'
    time = '2h'
  }

  // -------------------------
  // QC: FASTQC
  // -------------------------
  withName:FASTQC {
    container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    cpus = 4
    time = '1h'
  }

  // -------------------------
  // ASSEMBLY: SPADES
  // -------------------------
  withName:SPADES {
    container = 'quay.io/biocontainers/spades:4.0.0--hdfd78af_1'
    cpus = 16
    memory = '64 GB'
    time = '12h'
  }

  // -------------------------
  // ASSEMBLY QC: QUAST
  // -------------------------
  withName:QUAST {
    container = 'quay.io/biocontainers/quast:5.2.0--py310pl5321hdfd78af_0'
    cpus = 8
    time = '4h'
  }

  // -------------------------
  // GENOME QC: CHECKM2
  // -------------------------
  withName:CHECKM2 {
    container = 'quay.io/biocontainers/checkm2:1.0.1--pyh7cba7a3_0'
    cpus = 16
    memory = '32 GB'
    time = '12h'
  }

  // -------------------------
  // ANNOTATION: BAKTA
  // -------------------------
  withName:BAKTA {
    container = 'quay.io/biocontainers/bakta:1.9.2--pyhdfd78af_0'
    cpus = 16
    memory = '32 GB'
    time = '8h'
  }

  // -------------------------
  // SEROTYPING: SISTR
  // -------------------------
  withName:SISTR {
    container = 'quay.io/biocontainers/sistr_cmd:1.1.3--pyhdfd78af_0'
    cpus = 8
    time = '4h'
  }

  // -------------------------
  // PANGENOME: PANAROO (HEAVY)
  // -------------------------
  withName:PANAROO {
    container = 'quay.io/biocontainers/panaroo:1.5.0--pyhdfd78af_0'
    cpus = 32
    memory = '128 GB'
    time = '72h'
  }

  // -------------------------
  // PHYLOGENY: RAXML-NG (VERY HEAVY)
  // -------------------------
  withName:RAXML {
    container = 'quay.io/biocontainers/raxml-ng:1.2.0--h7d875b9_0'
    cpus = 32
    memory = '64 GB'
    time = '96h'
  }
}

//
// EXECUTION PROFILES (SEQERA FRIENDLY)
//
profiles {

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
  }

  standard {
    process.executor = 'local'
  }
}
