params {
  reads    = null
  outdir   = "results"
  bakta_db = null
  checkm2_db = null
}

process {

  cpus = 4
  memory = '8 GB'
  time = '6h'

  // -------------------------
  // QC
  // -------------------------

  withName:FASTP {
    container = 'quay.io/biocontainers/fastp:0.24.0--h125f33a_0'
    cpus = 8
    memory = '16 GB'
  }

  withName:FASTQC {
    container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    cpus = 4
  }

  // -------------------------
  // Assembly
  // -------------------------

  withName:SPADES {
    container = 'quay.io/biocontainers/spades:4.0.0--hdfd78af_1'
    cpus = 16
    memory = '64 GB'
  }

  withName:QUAST {
    container = 'quay.io/biocontainers/quast:5.2.0--py310pl5321hdfd78af_0'
    cpus = 8
  }

  // -------------------------
  // Genome QC
  // -------------------------

  withName:CHECKM2 {
    container = 'quay.io/biocontainers/checkm2:1.0.1--pyh7cba7a3_0'
    cpus = 16
    memory = '32 GB'
  }

  // -------------------------
  // Annotation / typing
  // -------------------------

  withName:BAKTA {
    container = 'quay.io/biocontainers/bakta:1.9.2--pyhdfd78af_0'
    cpus = 16
    memory = '32 GB'
  }

  withName:SISTR {
    container = 'quay.io/biocontainers/sistr_cmd:1.1.3--pyhdfd78af_0'
    cpus = 8
  }

  // -------------------------
  // Pangenome + phylogeny
  // -------------------------

  withName:PANAROO {
    container = 'quay.io/biocontainers/panaroo:1.5.0--pyhdfd78af_0'
    cpus = 32
    memory = '128 GB'
  }

  withName:RAXML {
    container = 'quay.io/biocontainers/raxml-ng:1.2.0--h7d875b9_0'
    cpus = 32
    memory = '64 GB'
  }
}


// -------------------------
// EXECUTION PROFILES
// -------------------------

profiles {

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
  }

}
